/* Palette  */
:root {
  /* GOLD version  */
  --gradient: linear-gradient(5deg, #f0e68c, #c5b358);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 60s ease infinite;
  --just-black: #000;
  --lightgoldenrodyellow-color: #fafad2;
  --palegoldenrod-color: #eee8aa;
  --khaki-color: #f0e68c;
  --vegas-gold-color: #c5b358;
  --golden-yellow-color: #ffdf00;
  --metallic-gold-color: #d4af37;
  --peru-color: #cd853f;
  --dark-brown-color: #0d0b01;
  --clear-white-color: #fff;
  --contrast-color: #120600;

  --h1-size: 90px;
  --h2-size: 78px;
  --h3-size: 34px;
  --p-size: 30px;
  --p-footer-size: 14px;
  --link-go-back: 28px;
  --personal-data-size: 58px;
  --border: 1px solid #cd853f;
}
/* ANIMATION  */
/* Define the animation */
@keyframes color-change {
  0% {
    color: #fff;
  } /* Start color */
  50% {
    color: #fafad2;
  } /* Middle color */
  100% {
    color: #c5b358;
  } /* End color */
}
/* ANIMATION  */

.body {
  font-family: "Stardom", sans-serif;
  background: var(--just-black);
}
.home-container {
  margin-top: 0px;
  margin-bottom: 50px;
}

header {
  text-align: center;
}
img {
  margin: 0 auto;
}

h1.valentina {
  margin-top: 0px;
  margin-bottom: 0px;
  animation: color-change 5s ease infinite;
  /* color: var(--khaki-color); */
  font-size: var(--h1-size);
  font-weight: 500;
}

h2 {
  color: var(--metallic-gold-color);
  font-size: var(--h2-size);
}
.architect {
  color: var(--vegas-gold-color);
  opacity: 0.9;
  font-size: var(--h3-size);
  margin: 20px 0px;
  text-align: center;
  font-weight: 500;
}
.button-link {
  color: #120701;
}
h4 {
  color: var(--khaki-color);
}
a {
  font-family: "Stardom", sans-serif;
  color: var(--metallic-gold-color);
  font-weight: bold;
  text-decoration: none;
}
p {
  font-size: var(--p-size);
  font-weight: 200;
  color: var(--lightgoldenrodyellow-color);
}
.main-buttons {
  margin: 50px auto;
}
.about-me-button,
.projects-button,
.contact-me-button {
  font-weight: 700;
  font-family: "Stardom", sans-serif;
  background-color: var(--just-black);
  color: #fff;
  margin: 0 20px;
  padding: 15px 30px;
  /* border: var(--border); */
  /* border-radius: 5px; */
}
.about-me-button:hover,
.projects-button:hover,
.contact-me-button:hover {
  cursor: pointer;
  background-color: var(--metallic-gold-color);
  color: #000;
  transition: 200ms ease-in-out;
}
.footer-information {
  color: var(--khaki-color);
  opacity: 0.7;
  margin-top: 60px;
  text-align: center;
  font-size: var(--p-footer-size);
}
.footer-links {
  color: var(--metallic-gold-color);
}
.footer-links:hover {
  color: var(--khaki-color);
}
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */
/* ABOUT ME  */

.go-back-link-first {
  color: var(--metallic-gold-color);
  font-size: var(--link-go-back);
  text-decoration: underline;
  font-weight: 400;
}
.go-back-link-first:hover {
  color: var(--lightgoldenrodyellow-color);
}
.about-me-container {
  margin: 30px auto;
}
.about-me-h2,
.projects-h2,
.about-me-contact-me-h2 {
  text-align: center;
  color: var(--clear-white-color);
  font-size: var(--h2-size);
  margin: 20px auto;
  font-weight: 500;
}
.projects-h2 {
  margin: 30px auto;
}
.about-me-contact-me-h2 {
  margin-top: 60px;
}

.avatar {
  padding: 30px 20px 30px 20px;
}
.about-text {
  font-size: var(--p-size);
  font-weight: 300;
  line-height: 1.5;
}
strong {
  color: var(--metallic-gold-color);
}
.text-container-1,
.text-container-2 {
  border-top: 2px solid #c5b358;
  border-bottom: 2px solid #c5b358;
}

.about-me-contact-section {
  text-align: center;
  line-height: 80px;
}
/* .project-images {
  margin: 50px auto;
} */
.contact-icon {
  width: 50px;
}
.email,
.phone,
.instagram,
.facebook,
.linkedin,
.youtube {
  color: var(--khaki-color);
  font-size: var(--personal-data-size);
  font-weight: 400;
  display: block;
  margin: 20px auto;
  text-decoration: none;
}
.email:hover,
.phone:hover,
.instagram:hover,
.facebook:hover,
.linkedin:hover,
.youtube:hover {
  cursor: pointer;
  color: var(--golden-yellow-color);
}

.go-back-section {
  margin: 40px auto;
  text-align: center;
}
.go-back-link-second {
  color: var(--metallic-gold-color);
  font-size: var(--link-go-back);
  text-decoration: underline;
  font-weight: 400;
}
.go-back-link-second:hover {
  color: var(--lightgoldenrodyellow-color);
}
.logo {
  text-align: left;
  margin: 0px;
}
.rights {
  color: var(--khaki-color);
  opacity: 0.7;
  font-size: var(--p-footer-size);
  margin: 0px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .go-back-link-first,
  .go-back-link-second {
    font-size: 14px;
  }
  .go-back-section {
    margin: 10px 0px;
  }
  .main-logo {
    width: 30;
  }
  h1.valentina {
    font-size: 64px;
  }
  .architect {
    font-size: 28px;
  }
  .about-text {
    font-size: 24px;
    padding: 0px 10px;
    padding-bottom: 20px;
  }
  .about-me-contact-me-h2 {
    font-size: 62px;
  }
  .footer-information {
    font-size: 14px;
  }
  .about-me-contact-section {
    line-height: 40px;
  }
  .contact-icon {
    width: 30px;
  }
  .email-icon,
  .phone-icon {
    width: 20px;
  }
  .phone {
    font-size: 26px;
    padding: 0px 10px;
  }
  .email {
    font-size: 18px;
    padding: 0px 10px;
  }
  .rights {
    margin-top: 10px;
    font-size: 10px;
  }
}
